---
import TimeDate from "../components/TimeDate.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta name="description" content="Ben Buzard's Portfolio Website" />
    <title>Personal Website</title>
  </head>
  <body
    style="background-image: url('macos-backgrounds/macOS-Ventura-Dark.webp');"
    class="bg-center"
  >
    <div
      class="w-screen h-screen grid"
      style="grid-template-rows: 1.75rem 1fr;"
    >
      <div
        class="bg-black w-screen h-7 bg-opacity-50 grid grid-cols-3 px-4"
        style="backdrop-filter: blur(10rem);"
      >
        <div class="flex justify-start items-center"></div>
        <div class="flex justify-center items-center"></div>
        <div
          class="flex justify-end items-center text-white text-sm"
          style="font-family: 'Quicksand', sand-serif;"
        >
          <TimeDate client:load />
        </div>
      </div>

      <div class="flex justify-center content-center w-screen">
        <div
          class="bg-zinc-800 md:container mx-16 my-24 px-8 py-8 rounded-3xl grid grid-cols-3 gap-y-4 drop-shadow-lg text-white"
          style="grid-auto-rows: min-content;"
        >
          <div
            id="window-buttons"
            class="relative flex gap-3"
            style="grid-column: 1; grid-row: 1;"
          >
            <div
              id="window-button-close"
              class="rounded-full bg-red-600 hover:bg-red-500 w-6 h-6"
              onclick="window.open("
              ",
              '_self').window.close();"
            >
            </div>
            <div
              id="window-button-minimize"
              class="rounded-full bg-yellow-600 hover:bg-yellow-500 w-6 h-6"
            >
            </div>
            <div
              id="window-button-maximize"
              class="rounded-full bg-green-600 hover:bg-green-500 w-6 h-6"
              onclick="if (document.fullscreenElement) { document.exitFullscreen() } else { document.documentElement.requestFullscreen() }"
            >
            </div>
          </div>
          <div
            class="text-4xl flex justify-center"
            style="grid-column: 2; grid-row: 1; font-family: 'Quicksand', sans-serif;"
          >
            Portfolio
          </div>
          <div class="" style="grid-column: 1; grid-row: 2;">Text</div>
        </div>
      </div>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
    </style>
  </body>
</html>
